<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md fixed-top" style="background-color: #4C3A51">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{'/user'}" style="color: white">Vehicle Rental System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">

              <li class="nav-item">
                <a class="nav-link" th:href="@{'/user'}">All Rentals</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{'/ucr'}">All Customers</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" th:href="@{'/new'}">All Requests</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- <center>
      <div style="padding-top:100px"> -->
        <!-- <tr>
          <div class="col-sm-5" align="center">
            <div class="panel-body" align="center">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th>Rental ID</th>
                    <th>Rental Name</th>
                    <th>Rental Status</th>
                    <th>Rental Model</th>
                    <th>Book Rental</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td th:text="${rental.v_id}">Rental ID</td>
                    <td th:text="${rental.v_name}">Rental Name</td>
                    <td th:text="${rental.v_status}">Rental Status</td>
                    <td th:text="${rental.v_model}">Rental Model</td>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </tr> -->

    <div align="center" style="padding-top:100px">
      <h1>Book Rental</h1>
      <br>
      <div class="col-sm-4">
        <form action="#" th:action="@{/save}" th:object="${rental}" method="post">

          <div alight="left">
            <tr>
              <label class="form-label">Customer Name</label>
              <td>
                <input type="hidden" th:field="*{v_id}" />
                <input type="hidden" th:field="*{v_model}" />
                <input type="hidden" th:field="*{v_name}" />
                <input type="text" name="v_cust" class="form-control" placeholder="Customer Name" /></td>
            </tr>
          </div>

          <!-- <div alight="left">

            <tr>
              <label class="form-label">Rental Status</label>
              <td>
                <select class="form-control" th:field="*{v_status}" aria-placeholder="Status">
                  <option value="Idle">Idle</option>
                  <option value="Running">Running</option>
                </select>
              </td>
            </tr>
          </div>
          <div alight="left">
            <tr>
              <label class="form-label">Rental Model</label>
              <td><input type="text" th:field="*{v_model}" class="form-control" placeholder="Model" /></td>
            </tr>
          </div> -->
          <br>
          <tr>
            <td colspan="2"><button type="submit" class="btn btn-info">Save</button>
            </td>
          </tr>
        </form>
      </div>
    </div>
  </body>

</html>
