<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Rental</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div align="center">
		<h1>Create New Rental</h1>
		<br />
		<div class="col-sm-4">
			<form action="#" th:action="@{/save}" th:object="${rental}"
				method="post">


				<div alight="left">
					<tr>
						<label class="form-label">Rental Name</label>
						<td><input type="hidden" th:field="*{v_id}" /> <input
							type="text" th:field="*{v_name}" class="form-control"
							placeholder="Rental Name" /></td>
					</tr>
				</div>

				<div alight="left">

					<tr>
						<label class="form-label">Rental Status</label>
						<td>
							<select class="form-control" th:field="*{v_status}" aria-placeholder="Status">
								<option value="Idle">Idle</option>
								<option value="Running">Running</option>
							</select>
						</td>
					</tr>
				</div>
				<div alight="left">
					<tr>
						<label class="form-label">Rental Model</label>
						<td><input type="text" th:field="*{v_model}" class="form-control"
							placeholder="Model" /></td>
					</tr>
				</div>
				<br>
				<tr>
					<td colspan="2"><button type="submit" class="btn btn-info">Save</button>
					</td>
				</tr>
			</form>
		</div>
	</div>
</body>
</html>